Life Expectancy/life_expectancy_flow.json
[{"id":"c7275db9.b5fed","type":"tab","label":"life_expectancy","disabled":false,"info":""},{"id":"fd519fc6.c89e5","type":"function","z":"c7275db9.b5fed","name":"PreToken","func":"global.set(\"cty\",msg.payload.cty)\nglobal.set(\"ye\",msg.payload.ye)\nglobal.set(\"st\",msg.payload.st)\nglobal.set(\"am\",msg.payload.am)\nglobal.set(\"id\",msg.payload.id)\nglobal.set(\"alco\",msg.payload.alco)\nglobal.set(\"per_exp\",msg.payload.per_exp)\nglobal.set(\"hepB\",msg.payload.hepB)\nglobal.set(\"mea\",msg.payload.mea)\nglobal.set(\"bmi\",msg.payload.bmi)\nglobal.set(\"un5dead\",msg.payload.un5dead)\nglobal.set(\"po\",msg.payload.po)\nglobal.set(\"tot_exp\",msg.payload.tot_exp)\nglobal.set(\"dip\",msg.payload.dip)\nglobal.set(\"hiv\",msg.payload.hiv)\nglobal.set(\"gdp\",msg.payload.gdp)\nglobal.set(\"pop\",msg.payload.pop)\nglobal.set(\"thin\",msg.payload.thin)\nglobal.set(\"thinjr\",msg.payload.thinjr)\nglobal.set(\"in_comp\",msg.payload.in_comp)\nglobal.set(\"school\",msg.payload.school)\nvar apikey=\"YzLddP3k2H2BuaHLb1UouriET5SR5SSTOd3RpqOUbPVO\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":300,"wires":[["aa66c5f4.e8c088"]]},{"id":"aa66c5f4.e8c088","type":"http request","z":"c7275db9.b5fed","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":370,"y":300,"wires":[["552d01b3.3b754"]]},{"id":"20f47efa.c50a82","type":"debug","z":"c7275db9.b5fed","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":890,"y":260,"wires":[]},{"id":"552d01b3.3b754","type":"function","z":"c7275db9.b5fed","name":"Pre Prediction","func":"var cty = global.get('cty')\nvar ye = global.get('ye')\nvar st = global.get('st')\nvar am = global.get('am')\nvar id = global.get('id')\nvar alco = global.get('alco')\nvar per_exp = global.get('per_exp')\nvar hepB = global.get('hepB')\nvar mea = global.get('mea')\nvar bmi = global.get('bmi')\nvar un5dead = global.get('un5dead')\nvar po = global.get('po')\nvar tot_exp = global.get('tot_exp')\nvar dip = global.get('dip')\nvar hiv = global.get('hiv')\nvar gdp = global.get('gdp')\nvar pop = global.get('pop')\nvar thin = global.get('thin')\nvar thinjr = global.get('thinjr')\nvar in_comp = global.get('in_comp')\nvar school = global.get('school')\nvar token=msg.payload.access_token\nvar instance_id=\"8b4838a7-e7c9-4670-b279-fa868dbeaa66\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"Country\", \"Year\", \"Status\", \"Adult Mortality\", \"infant deaths\", \"Alcohol\", \"percentage expenditure\", \"Hepatitis B\", \"Measles \", \" BMI \", \"under-five deaths \", \"Polio\", \"Total expenditure\", \"Diphtheria \", \" HIV/AIDS\", \"GDP\", \"Population\", \" thinness  1-19 years\", \" thinness 5-9 years\", \"Income composition of resources\", \"Schooling\"], \"values\": [[cty, ye, st, am, id, alco, per_exp, hepB, mea, bmi, un5dead, po, tot_exp, dip, hiv, gdp, pop, thin, thinjr, in_comp, school]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":300,"wires":[["b7d86784.4a6bf8"]]},{"id":"b7d86784.4a6bf8","type":"http request","z":"c7275db9.b5fed","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v4/deployments/fbb161b1-e045-4e62-8de9-8f9f48875bc4/predictions","tls":"","persist":false,"proxy":"","authType":"","x":710,"y":300,"wires":[["20f47efa.c50a82","57956874.af7e28"]]},{"id":"9f91f0fb.2a3d4","type":"ui_form","z":"c7275db9.b5fed","name":"","label":"","group":"b34d86bc.12fdb8","order":1,"width":"0","height":"0","options":[{"label":"Country","value":"cty","type":"text","required":true,"rows":null},{"label":"Year","value":"ye","type":"number","required":true,"rows":null},{"label":"Status","value":"st","type":"text","required":true,"rows":null},{"label":"Adult Mortality","value":"am","type":"number","required":true,"rows":null},{"label":"infant deaths","value":"id","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"alco","type":"number","required":true,"rows":null},{"label":"percentage expenditure","value":"per_exp","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"hepB","type":"number","required":true,"rows":null},{"label":"Measles ","value":"mea","type":"number","required":true,"rows":null},{"label":" BMI ","value":"bmi","type":"number","required":true,"rows":null},{"label":"under-five deaths ","value":"un5dead","type":"number","required":true,"rows":null},{"label":"Polio","value":"po","type":"number","required":true,"rows":null},{"label":"Total expenditure","value":"tot_exp","type":"number","required":true,"rows":null},{"label":"Diphtheria ","value":"dip","type":"number","required":true,"rows":null},{"label":" HIV/AIDS","value":"hiv","type":"number","required":true,"rows":null},{"label":"GDP","value":"gdp","type":"number","required":true,"rows":null},{"label":"Population","value":"pop","type":"number","required":true,"rows":null},{"label":" thinness  1-19 years","value":"thin","type":"number","required":true,"rows":null},{"label":" thinness 5-9 years","value":"thinjr","type":"number","required":true,"rows":null},{"label":"Income composition of resources","value":"in_comp","type":"number","required":true,"rows":null},{"label":"Schooling","value":"school","type":"number","required":true,"rows":null}],"formValue":{"cty":"","ye":"","st":"","am":"","id":"","alco":"","per_exp":"","hepB":"","mea":"","bmi":"","un5dead":"","po":"","tot_exp":"","dip":"","hiv":"","gdp":"","pop":"","thin":"","thinjr":"","in_comp":"","school":""},"payload":"","submit":"Predict","cancel":"Reset","topic":"","x":90,"y":300,"wires":[["fd519fc6.c89e5"]]},{"id":"f20727b4.ab4268","type":"ui_text","z":"c7275db9.b5fed","group":"b34d86bc.12fdb8","order":2,"width":"0","height":"0","name":"","label":"Expected Life (Years):","format":"{{msg.payload}}","layout":"row-left","x":920,"y":420,"wires":[]},{"id":"57956874.af7e28","type":"function","z":"c7275db9.b5fed","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;\n","outputs":1,"noerr":0,"x":870,"y":340,"wires":[["f20727b4.ab4268"]]},{"id":"b34d86bc.12fdb8","type":"ui_group","z":"","name":"Life Expectancy","tab":"ad7ee1b2.7a827","order":1,"disp":true,"width":"6","collapse":false},{"id":"ad7ee1b2.7a827","type":"ui_tab","z":"","name":"Predicting Life Expectancy Using Machine Learning","icon":"dashboard","disabled":false,"hidden":false}]